.app {
  width: 90%;
  margin: auto;
}

body {
  background-color: #0b0914;
  color: aliceblue;
}

h1 {
  text-align: center;
}

td {
  padding-bottom: 5px;
  width: 33%;
  text-align: center;
}

input {
  color: white;
  border: none;
  font-weight: 700;
  text-align: center;
  height: 100%;
  margin: 0;
}

.pos-input {
  background-color: #08662c;
}

.neg-input {
  background-color: #661e08;
}

.email.col {
  text-align: left;
  padding: 0;
}

.email-input {
  width: 80%;
  background-color: #160866;
}

.card {
  /* height: 40px; */
  width: 50px;
}

.notes {
  width: 40px;
  height: 20px;
  object-fit: cover;
}

.coins {
  height: 20px;
}

button {
  cursor: pointer;
  color: rgb(35, 49, 34);
  border: 0px;
  padding: 5px;
  outline: none;
  font-weight: 600;
  margin: auto;
  box-shadow: 2px 3px rgb(255, 255, 255);
}

button:active {
  box-shadow: -2px -3px white;
}

#complete-button {
  background-color: #17aa72;
}

#send-button {
  background-color: #175caa;
  display: none;
}

#report-sent {
  display: none;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }

  .card {
    height: auto;
    width: 120px;
  }

  .notes {
    height: auto;
    width: 120px;
  }

  .coins {
    height: auto;
    width: 60px;
  }

  .amount {
    font-size: 1.5rem;
  }
}
